---
apiVersion: v1
kind: PersistentVolume
metadata:
  name: logging-elasticsearch
spec:
  accessModes:
    - ReadWriteOnce
  capacity:
    storage: {{volumeSize}}
  hostPath:
    type: DirectoryOrCreate
    path: {{volumePath}}
  persistentVolumeReclaimPolicy: Retain
  volumeMode: Filesystem
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: logging-elasticsearch
  namespace: logging
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: {{volumeSize}}
  storageClassName: ""
  volumeMode: Filesystem
  volumeName: logging-elasticsearch