.DS_Store

z_will_delete/big-files/*
z_will_delete/big-files/README.md
z_will_delete/resource-ubuntu1604/*
z_will_delete/resources-centos/*
z_will_delete/resources-common/*
z_will_delete/resources-common/kubernetes-config/*

temp/*

*.tgz
*.pyc

*/data_root/*

.vscode/.ropeproject/*

centos-packages/*
os-setup-common-files/*

.history
.idea