apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{name}}
  namespace: {{namespace}}
spec:
  selector:
    matchLabels:
      app: {{selectorLabel}}
  replicas: 1
  template:
    metadata:
      labels:
        app: {{selectorLabel}}
    spec:
      containers:
        - name: {{containerName}}
          image: {{image}}
          imagePullPolicy: Always
          env:
            - name: REDIS_PASSWORD
              value: {{redis_password}}
          command:
            - redis-server
            - --requirepass
            - "$(REDIS_PASSWORD)"
            - --appendonly
            - "yes"
          resources: {}
      imagePullSecrets:
        - name: {{imagePullSecrets}}
      nodeSelector:
        node-tag: {{nodeTag}}