apiVersion: v1
kind: Service
metadata:
  name: {{name}}
  namespace: {{namespace}}
spec:
  externalName: {{externalName}}
  ports:
  - protocol: {{protocol}}
    port: {{port}}
    targetPort: {{targetPort}}
  type: ExternalName